
#wrapper {
    display: grid;
    width: 100hh;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 450px 600px;
    grid-template-areas: 
    "nav nav"
    "rub rub"
    "text bil";
}

body{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

#wrapper_card {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 230px 300px 60px 1fr;
    grid-template-areas: 
    "nav nav"
    "rub rub"
    "card1 card2"
    "minrub minrub"
    "fav1 fav2"
    ;
}

#wrapper_om_oss {
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr 1.5fr 1.5fr;
    grid-template-rows: 60px 0.8fr 4fr 6fr 1fr;
    grid-template-areas: 
    "nav nav nav nav"
    "bild1 bild2 title1 title1"
    "bild1 bild2 art1 art1"
    "bild3 bild3 art1 art1"
    "kon kon kon kon"
    ;
}

#main_li {
    list-style: none;
    position: relative;
    left: 10%;
}

#nav {
    background-color:#f39c12;
    grid-area: nav;
    display: flex;
    border-bottom: #ffffff solid 2px;
    border-top: #ffffff solid 2px;
}

#meny {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    width: 100%;
}

a { 
    text-decoration: none;
    color: black;
}

a:hover { 
    color: rgb(255, 255, 255);
}

#main_back {
    grid-area: rub;
    position: relative;
    background-image: url(/img/Main.jpg);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_back:before {
    background-color: #ffffff;
    opacity: 0.5;
    filter: blur(10px);
    width: 100%;
    height: 150px;
    display: block;
    content: "";
    position: absolute;
    top: 155px;
    filter: blur(20px);
}

#main_rub {
    font-size: 120px;

}

#bildtext1 {
    grid-area: text;
    font-size: 30px;
    height: 100%;
    background-color: #f39c12;
    display: flex;
    align-items: center;
    color: #ffffff;
    top: 20px;

}

#pilot_holder {
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

#img_pilot {
    width: 300px;
    height: auto;
    border: #ffffff solid 10px;
}


#rub_card_back {
    background-image: url(/img/Card.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: rub;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_rub {
    background-image: ;
    font-size: 100px;
}



h1 {
    font-size: 40px;
    color: #ffffff;
    
}

h2 {
    font-size: 20px;
}

#card1 {
    grid-area: card1;
    background-color: #c7c23b;
    display: flex;
    justify-content: center;
    border-bottom: #ffffff solid 2px;
    border-top: #ffffff solid 2px;

}

#card2 {
    grid-area: card2;
    background-color: #c7c23b;
    display: flex;
    justify-content: center;
    border-bottom: #ffffff solid 2px;
    border-top: #ffffff solid 2px;
}

#from {
    background-color: rgb(255, 255, 255);
    width: 58%;
    height:fit-content;
    border: 10px solid rgb(253, 253, 253);
    border-radius: 10px;
    transition: 1s;

}

#to {
    background-color: rgb(255, 255, 255);
    width: 58%;
    height:fit-content;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s;
}

#to_flights {
    list-style: none;
    width: 58%;
    height: 100%;
    display: none;
}

#to:hover {
    background-color: rgb(255, 255, 255);
    width: 58%;
    height: fit-content;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 10px;

    #to_flights {
        list-style: none;
        width: 58%;
        height: 100%;
        display: block;
    }
}

#from_flights {
    list-style: none;
    width: 58%;
    height: 100%;
    display: none;
}

#from:hover {

    background-color: rgb(255, 255, 255);
    width: 58%;
    height:fit-content;
    border: 10px solid rgb(253, 253, 253);
    border-radius: 10px;

    #from_flights {
        list-style: none;
        width: 58%;
        height: 100%;
        display: block;
    }
}

#minrub {
    grid-area: minrub;
    background-color: #f39c12;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

#fav_flyg1 {
    grid-area: fav1;
    background-color: #f39c12;
    position: relative;
    display: flex;
    
}

#fav_flyg2 {
    grid-area: fav2;
    background-color: #f39c12;
    position: relative;
    display: flex;
    
}

.valda_flyg1 {
    background-image: url(/img/Caribian.jpg);
    background-size: cover;
    position: center center;
    border: 10px solid rgb(253, 253, 253);
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.valda_flyg2 {
    background-image: url(/img/GardenOftheGods.jpg);
    background-size: cover;
    position: center center;
    border: 10px solid rgb(253, 253, 253);
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.favbox {
position: relative;
left: 20%;
list-style: none;
}

#title1 {
    grid-area: title1;
    background-color:#c7c23b;
    border-bottom: #ffffff solid 2px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}


#bild1 {
    grid-area: bild1;
    background-image: url(/img/Lova.png);
    background-size: cover;
    position: relative;
    border-bottom: #ffffff solid 2px;
    border-right: #ffffff solid 2px;
    border-left: #ffffff solid 2px;
    display: flex;
    font-size: 25px;
    justify-content: center;
  
    


}

#bild2 {
    grid-area: bild2;
    background-image: url(/img/Lovina.png);
    background-size: cover;
    border-bottom: #ffffff solid 2px;
    border-right: #ffffff solid 2px;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

#bild3 {
    grid-area: bild3;
    background-image: url(/img/Viktor.png);
    background-size: cover;
    position: center center;
    border-bottom: #ffffff solid 2px;
    border-right: #ffffff solid 2px;
    border-left: #ffffff solid 2px;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.bildtext2 {
    position: relative;
    top: 180px;
    color: rgb(255, 255, 255);

}

#art1 {
    grid-area: art1;
    background-image: url(/img/clouds.jpg);
    background-size: cover;
    position: center center;
    color: rgb(154, 93, 8);
    font-size: 24px;
    position: relative;
    padding: 40px;
    border-bottom: #ffffff solid 2px;
}

#kon {
    grid-area: kon;
    background-color: #f39c12;
    color: #000000;
}